.LottoBalls {
    display: flex;
    justify-content: center;
}

.Ball {
    font-size: 1.5em;
    width: 3em;;
    height: 2.25em;
    padding-top: 0.75em;
    border-radius: 50%;
    background-color: rgb(231, 50, 44);
    margin: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}
