.container {
    font-size: 36px;
    opacity: 0;
    animation: appear 3s forwards;
}

.loader {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: coloredspin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes coloredspin {
    0% {
        border-top-color: #1abc9c;
        border-bottom-color: #1abc9c;
        transform: rotate(0deg) scale(1);
    }
    25% {
        border-top-color: #2ecc71;
        border-bottom-color: #2ecc71;
    }
    50% {
        border-top-color: #3498db;
        border-bottom-color: #3498db;
        transform: rotate(360deg) scale(1.05);
    }
    75% {
        border-top-color: #9b59b6;
        border-bottom-color: #9b59b6;
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
