.Cell {
    height: 50px;
    width: 50px;
    background-color: darkgray;
    border-radius: 5%;
    transition: background-color 0.5s ease;
}

.Cell-lit {
    background-color: rgb(144, 170, 255);
    box-shadow: 0 0 10px #0040d4, inset 0 0 20px #0400d4;
    /* box-shadow: inset 0 0 15px rgb(255, 154, 21); */
}

.Cell:hover {
    cursor: pointer;
}
