.Die {
    display: inline-block;
    font-weight: bold;
    color: white;
    text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 400%;
    padding: 0;
}

.Die-locked {
    opacity: 0.5;
    text-shadow: none;
}

.Die:not(.Die-locked):hover {
    cursor: pointer;
    opacity: 0.8;
}

.Die-rolling:hover,
.Die[disabled] {
    cursor: not-allowed;
}

.rolling {
    animation-name: roll;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: rotate(90deg) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: rotate(180deg) translate3d(-15%, 0, 0)
            rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: rotate(270deg) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    85% {
        transform: rotate(400deg) translate3d(-5%, 0, 0)
            rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: rotate(360deg) translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }
}
