/* Original Styles For Numbers, before icons added in */
/* .Die {
  font-size: 25px;
} */

/* THE NICER STYLES MADE FOR THE FONT-AWESOME ICONS... */

.Die {
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    background-color: black;
    color: white;
    text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 300%;
    padding: 0;
    height: 0;
}

button {
    border: none;
    outline: none;
}

.Die-locked {
    opacity: 0.5;
    text-shadow: none;
}

.Die:not(.Die-locked):hover {
    cursor: pointer;
    opacity: 0.8;
}

.rolling {
    animation-name: roll;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: rotate(90deg) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: rotate(180deg) translate3d(-15%, 0, 0)
            rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: rotate(270deg) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    85% {
        transform: rotate(400deg) translate3d(-5%, 0, 0)
            rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: rotate(360deg) translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }
}

/* .Die-rolling {
  animation: spin 1s ease-out;
} */

.Die-rolling:hover,
.Die[disabled] {
    cursor: not-allowed;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
