.ScoreTable {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    width: inherit;
    background-color: white;
    /* padding: 1em; */
}

.ScoreTable table {
    width: 90%;
    margin: 0 auto;
    min-width: 400px;
    padding-bottom: 3em;
}

.ScoreTable-section {
    vertical-align: top;
    width: 100%;
}
