.colorBox {
    width: 225px;
    height: 225px;
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid red; */
}


.Wrapper {
    display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0;
}