.DogDetails {
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    margin: 10px auto;
    border-radius: 3%;
    color: rgb(15, 15, 15);
}

.DogDetails-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 30vw; */
}

.DogDetails-header h1 {
    margin: 0;
}

.DogDetails-header h3 {
    margin: 1rem;
}

.DogDetails-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* width: 30vw; */
}

.DogDetails-facts {
    display: flex;
    flex-direction: column;
    /* text-align:  */
    padding: 1rem;
}

.DogDetails img {
    border-radius: 5%;
    padding: 1rem;
}
