.Doglist {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.Doglist a {
    text-decoration: none;
    color: rgb(46, 54, 61);
    font-weight: 100;
    letter-spacing: 4px;
}

.Doglist-dog {
    padding: 2em;
    text-align: center;
}

.Doglist-dog {
    text-decoration: none;
}

.Doglist img:hover {
    opacity: 50%;
}

.Doglist img {
    border-radius: 50%;
    width: 20em;
    height: 20em;
    object-fit: cover;
}
