
.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RollDice-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  align-self: center;
    background-color: rgb(10 , 10 , 10);
    border: 0px;
    border-radius: 10px;
    color: white;
    padding: 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15em;
    border-radius: 15px;
  }

.RollDice button:hover{
background-color: rgb(64, 80, 224);
}

