/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #eccccc);
    color: rgb(20, 20, 30);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h1 {
    margin-bottom: 2em;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 300px;
    margin: 20% auto 5% auto;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgb(100, 100, 100, 0.3);
}

.ToDoListContainer {
    background-color: rgb(255, 100, 100);
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    width: 350px;
    margin: 3% auto 5% auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

input {
    width: 90%;
    height: 30px;
    background-color: rgb(255, 137, 137);
    border: none;
    color: black;
    padding: 5px;
    font-size: inherit;
    margin-left: 0px;
    font-weight: 500;
    border-radius: 10px;
}

.NewToDoForm {
    margin: 0 auto;
}

button {
    background-color: rgb(255, 100, 100);
    color: rgb(20, 20, 30);
    border: none;
    cursor: pointer;
    width: 1em;
    font-size: 15px;
}

button:hover {
    color: rgb(32, 32, 47);
}

button:disabled {
    color: rgb(83, 83, 83);
}

.ToDoItem {
    word-wrap: break-word;
    margin-bottom: 1em;
    padding-top: 7px;
    padding-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
    transform: opacity 0.4s linear;
    position: relative;
}

.ToDoItem.completed {
    opacity: 0.6;
}

.ToDoItem.completed:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.5rem;
    display: block;
    width: 0%;
    height: 1.5px;
    background: rgb(20, 20, 30);
    animation: strikeitem 0.2s ease-out 0s forwards;
}

@keyframes strikeitem {
    to {
        width: calc(100% + 1rem);
    }
}

.ToDoItems {
    height: 50px;
}

.ToDoItemContainer {
    display: grid;
    grid-template-columns: 250px 25px 25px;
    width: 300px;
    padding-bottom: 10px;
}

.ToDoItemButton {
    font-size: 15px;
    width: 1em;
}

.ToDoItemButton:hover {
    color: rgb(77, 75, 75);
    cursor: pointer;
}

.ToDoList {
    display: inline-block;
    text-align: left;
}
